<div *ngIf="teams[0].sugar <= 7 || teams[1].sugar <= 7; else nicetry">
  <div class='announcement normal'>
    Good Job!
  </div>
</div>
<ng-template #nicetry>
  <div class='announcement high'>
    Nice Try!
  </div>
</ng-template>
<div class='announcement' *ngIf="winningTeam">
  <div style='font-size: 5vh'>
    {{winningTeam.name}} wins!
  </div>
  <div>
    Score {{winningTeam.score}} points and blood sugar {{winningTeam.sugar |  number :'1.1-1'}} mmol/L
  </div>
</div>
<div class='announcement' *ngIf="winningTeam == null">
  <div style='font-size: 5vh'>
    Both teams win!
  </div>
  <div>
    Score {{teams[0].score}} points and blood sugar {{teams[0].sugar |  number :'1.1-1'}} mmol/L
  </div>
</div>
