<div *ngIf="!!question" class='question-viewer'>
  <div style='height: 2vh;'></div>
  <div [ngClass]="question.color" fxLayout='column' fxLayoutAlign="space-between center"
    style='height: 30vh; padding: 10px; text-align: center; border-radius: 3vh;'>
    <div>{{team.name}}</div>
    <div>{{question.body}}</div>
    <div></div>
  </div>
  <div fxLayout='row' fxLayoutAlign="center end">
    <button type="button" class="btn btn-danger" (click)='onNo()'>No</button>
    <button type="button" class="btn btn-success" (click)='onYes()'>Yes</button>
  </div>
</div>
