<div class="container-fluid">

  <div class="container-fluid" style='width: 100%;'>
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div fxLayout="row" fxLayoutAlign="center start">
        <div class='team' [ngClass]="teams[0].congrats ? 'shake' : ''">
          {{teams[0].name}}: <span [ngClass]="teams[0].sugar > 7 ? 'high' : 'normal'">
            {{teams[0].sugar |  number :'1.1-1'}} mmol/L
          </span>
        </div>
        <div style='width: 35vw; text-align: center;'>
          <button type="button" class="btn btn-danger" (click)='resetGame()'>Reset</button>
          <button type="button" class="btn btn-warning" (click)='completeGame()'>Complete</button>
        </div>
        <div class='team' [ngClass]="teams[1].congrats ? 'shake' : ''">
          {{teams[1].name}}: <span [ngClass]="teams[1].sugar > 7 ? 'high' : 'normal'">
            {{teams[1].sugar | number :'1.1-1'  }} mmol/L
          </span>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row justify-content-md-center">
          <div class="col monitoring">
            Monitoring
          </div>
          <div class="col targets">
            Targets
          </div>
          <div class="col nutrition">
            Nutrition
          </div>
          <div class="col exercise">
            Exercise
          </div>
          <div class="col complications">
            Complications
          </div>
          <div class="col bonus">
            Bonus
          </div>
        </div>
        <div class="row justify-content-md-center" *ngFor="let qs of questions">
          <div (click)='onSelect(q)' class="col" [ngClass]='q.activated ? q.color : "disabled"' *ngFor="let q of qs">
            <div [ngClass]='q === questionSelected ? "selected" : ""'>
              {{q.points}}
            </div>
          </div>
        </div>
      </div>

      <app-question-viewer [question]='questionSelected' [event]='event' [team]='currentTeam()' style='width: 100%;'>
      </app-question-viewer>

      <div *ngIf="noOfQestions === 0" style='padding-top: 15vh;'>
        <app-announcement [teams]='teams'></app-announcement>
      </div>
    </div>

  </div>
  <div class='footer'>Copyright &copy; 2019 Alexander Kunin. All Rights Reserved.</div>
