.row {
  height: 50px;
}

.col {
  border: solid 1px #555050;
  border-radius: 30px;
  margin: 2px;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  cursor: pointer;
}

.selected {
  font-weight: 600;
  font-size: 30px;
  color: #1eff00;
  cursor: default;
}

.disabled {
  color: rgb(97, 96, 96);
  cursor: default;
}

.footer {
  background-color: #e9e5e5;
  position: fixed;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  bottom: 0;
  width: 100%;
  font-family: "Caveat", cursive;
}
