.row {
  height: 50px;
}

.col {
  border: solid 1px #887676;
  border-radius: 4px;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  cursor: pointer;
}

.selected {
  font-weight: 600;
  font-size: 30px;
  color: #1eff00;
  cursor: default;
}

.disabled {
  color: rgb(97, 96, 96);
  cursor: default;
}
