.row {
  height: 5vh;
}

.col {
  border: solid 1px #555050;
  border-radius: 30px;
  margin: 2px;
  text-align: center;
  font-size: 3vh;
  font-weight: 400;
  cursor: pointer;
}

.selected {
  font-weight: 600;
  font-size: 3vh;
  color: #1eff00;
  cursor: default;
}

.disabled {
  color: rgb(97, 96, 96);
  cursor: default;
}

.footer {
  background-color: #e9e5e5;
  position: fixed;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  bottom: 0;
  width: 100%;
  font-family: "Caveat", cursive;
}

.shake {
  background: linear-gradient(90deg, #00000000 30%, green 50%, #00000000 70%);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 2s ease infinite;
  -moz-animation: AnimationName 2s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
