/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  // font-family: "Caveat", cursive;
  // font-family: "Mountains of Christmas", cursive;
  font-family: "Just Me Again Down Here", cursive;
}

.monitoring {
  background-color: coral;
  color: white;
}

.targets {
  background-color: blue;
  color: white;
}

.nutrition {
  background-color: green;
  color: white;
}

.exercise {
  background-color: #ff0080;
  color: white;
}

.complications {
  background-color: blueviolet;
  color: white;
}

.bonus {
  background-color: red;
  color: white;
}

.team {
  font-size: 30px;
  font-weight: 600;
  width: 475px;
  text-align: center;
}

.btn {
  min-width: 110px;
  margin: 5px;
}

.high {
  color: red;
}

.normal {
  color: green;
}
