/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.monitoring {
  background-color: coral;
}

.targets {
  background-color: blue;
}

.nutrition {
  background-color: green;
}

.exercise {
  background-color: #ff0080;
}

.complications {
  background-color: blueviolet;
}

.bonus {
  background-color: red;
}

.team {
  font-size: 26px;
  font-weight: 600;
  width: 500px;
  text-align: center;
}
